.container {
    height: var(--tool-panel-height);
    box-sizing: border-box;
    padding: 5px;
}

.toolPanel {
    display: flex;
    height: 100%;
    border-radius: 7px;
    background-color: lightgray;
    padding: 4px;
    box-sizing: border-box;
}

.icon {
    width: 100%;
    aspect-ratio: 1/1;
}

.iconDelete {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 5px;
    box-sizing: border-box;
}

.iconUndoRedo {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 5px;
    box-sizing: border-box;
}

.slideButtonsContainer {
    /* margin-inline-start: 5px; */
    display: flex;
    gap: 5px;
}

.objectButtonsContainer {
    display: flex;
    gap: 5px;
}

.undoRedoContainer {
    display: flex;
    gap: 5px;
}

.toolButton {
    border-radius: 7px;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    box-sizing: border-box;
}

.addSlideButton {
    border-radius: 7px;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
}

.hiddenContainer {
    overflow: hidden;
    height: 0;
}