.button {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 5px;
    margin: 1px;
    background-color: blueviolet;
    user-select: none;
}

.button:hover {
    opacity: 0.9;
}

.button:active {
    opacity: 0.8;
}