.button {
    display: inline-flex;
    user-select: none;
    cursor: pointer;
}

.buttonDefault {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: 1px;
    margin-inline: 5px;
    background-color: blueviolet;
    border-radius: 5px;
}

.buttonDefault:hover {
    opacity: 0.9;
}

.buttonDefault:active {
    opacity: 0.8;
}