.container {
    border: transparent solid 1px;
    position: relative;
    user-select: none;
    box-sizing: border-box;
}

.leftUp {
    top: 0;
    left: 0;
    transform: translate(-70%, -70%);
}

.leftDown {
    left: 0;
    bottom: 0;
    transform: translate(-70%, 70%);
}

.rightUp {
    right: 0;
    top: 0;
    transform: translate(70%, -70%);
}

.rightDown {
    right: 0;
    bottom: 0;
    transform: translate(70%, 70%);
}

.horizontalLine {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: orange;
    border: solid 6px transparent;
    z-index: 1;
    background-clip: padding-box;
    cursor: all-scroll;
    user-select: none;
}

.verticalLine {
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: orange;
    border: solid 6px transparent;
    z-index: 1;
    background-clip: padding-box;
    cursor: all-scroll;
    user-select: none;
}

.left {
    left: 0;
    top: 50%;
    transform: translate(-70%, -50%);
}
.top {
    left: 50%;
    top: 0;
    transform: translate(-50%, -70%);
}
.right {
    right: 0;
    top: 50%;
    transform: translate(70%, -50%);
}
.bottom {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 70%);
}


.point {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 1;
    user-select: none;
}