.buttonContainer
{
    position: relative;
}
.button {
    display: inline-flex;
    user-select: none;
}

.buttonDafault {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: 5px;
    margin: 1px;
    background-color: blueviolet;
}

.buttonDafault:hover {
    opacity: 0.9;
}

.buttonDafault:active {
    opacity: 0.8;
}