.slides {
    display: flex;
    flex-direction: column;
    width: var(--slide-list-width);
    /* width: calc(100% - 10px); */
    overflow-y: scroll;
    background-color: darkgoldenrod;
    box-sizing: border-box;
    gap: 8px;
    padding: 0 7px 0 7px;
    border-top: 8px solid darkgoldenrod;
    border-bottom: 8px solid darkgoldenrod;
}