* 
{
    margin: 0;
    padding: 0;
}

.header
{
   background-color: aquamarine;
}
.top-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    max-width: 1440px;
    margin: 0 auto;
}
.top-bar__navigation
{
    height: max-content;
}

.top-bar__navigation-list
{
    list-style: none;
    display: flex;
    justify-content: center;
}
.top-bar__navigation-item
{
    
}
.top-bar__navigation-link
{
    display: block;
    padding: 0 20px;
    text-decoration: none;
    position: relative;
}
.top-bar__basket-count
{
    width: max-content;
    height: 16px;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -5px;
    right: 20px;
    text-align: center;
    font: 400 14px/16px Oxygen, sans-serif;
}
.top-bar__navigation-text
{
    font: 400 18px/30px Oxygen, sans-serif;
    color: rgba(46, 46, 46, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.top-bar__navigation-image
{
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 40px;
}


.main 
{
    padding: 0 40px;
}
.container
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.container__subtitle
{
    font: 600 28px/36px Oxygen, sans-serif;
    padding-left: 20px;
    padding-bottom: 5px;
}

.basket__list{
    width: 100%;
    list-style: none;
    border-radius: 30px;
    border: 2px dashed rgba(200, 200, 200, 1);
    padding: 20px;
    box-sizing: border-box;
}

.pizza
{
    display: flex;
    justify-content: space-between;
    background-color: rgba(220, 220, 220, 1);
    border-bottom: 1px solid black;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 2px 0;
    align-items: center;
    height: max-content;
}

.split-line
{
    max-height: 30px;
    height: 100%;
    width: 2px;
    background-color: black;
    /* flex: 1 */
}

.pizza__name
{
    /* display: flex; */
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-right: 1px solid black;
    text-align: center;
    font: 400 18px/22px Oxygen, sans-serif;
}

.pizza__diameter, .pizza__dough, .pizza__count, .pizza__gramm, .pizza__price
{
    width: 100%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    font: 400 18px/22px Oxygen, sans-serif;
}

.pizza__count
{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pizza__button
{
    width: 100%;
    border-left: 1px solid black;
    text-align: center;
    font: 400 18px/22px Oxygen, sans-serif;
}

.pizza__button-save
{
    border: none;
    background-color: rgba(105, 232, 97, 1);
    font: 400 18px/22px Oxygen, sans-serif;
    padding: 0px 8px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.hidden-button
{
    display: none;
}

.pizza__button-save:active
{
    scale: 0.8;
    transition: all ease 0.3s;
}

.pizza__button-delete
{
    border: none;
    background-color: rgba(232, 105, 97, 1);
    font: 400 18px/22px Oxygen, sans-serif;
    padding: 0px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.pizza__button-delete:active
{
    scale: 0.8;
    transition: all ease 0.3s;
}

.title
{
    font: 400 24px/22px Oxygen, sans-serif;
}

.order
{
    width: 100%;
    list-style: none;
    border-radius: 30px;
    border: 2px dashed rgba(200, 200, 200, 1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__info
{
    max-width: 480px;
    width: 100%;
}

/*INPUT BLOCKS*/

.order__form-item-block 
{
    position: relative;
    max-width: 480px;
    width: 100%;
}

.order__label-form
{
    position: absolute;
    display: block;
    font: 400 12px/16px Oxygen, sans-serif;
    text-align: left;
    max-width: 480px;
    width: max-content;
    color: rgba(122, 122, 122, 1);
    left: 22px;
    top: -8px;
    z-index: 1;
    background: white;
    padding: 0px 5px;
}

.order__password-eye
{
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    top: 8px;
}

.order__input-text
{
    max-width: 480px;
    width: 100%;
    background: rgba(247, 247, 247, 1);
    border: none;
    border: 1px solid rgba(46, 46, 46, 1);
    border-radius: 15px;
    font: 400 16px/24px Oxygen, sans-serif;
    text-align: left;
    color: rgba(46, 46, 46, 1);
    padding: 8px 35px 8px 16px;
    outline: none;
    box-sizing: border-box;  
}

.order__input-text:placeholder-shown {
    background-color: rgba(255, 255, 255, 1);
}


.order__input-text:focus
{
    background: rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(46, 46, 46, 1);
}

.order__input-text-invalid 
{
    border: 1px solid rgba(232, 105, 97, 1);
}

.order__input-text-critical
{
    /* display: none; */
    margin-top: 4px;
    font: 400 12px/16px Oxygen, sans-serif;
    text-align: left;
    color: rgba(232, 105, 97, 1);
    transition: all ease 300ms;
    padding-left: 12px;
}

.hidden
{
    margin: 0;
    padding: 0;
    height: 0;
    color: transparent;
    background-color: transparent;
}

/*BUTTON*/

.order__button-send
{
    max-width: 350px;
    width: 100%;
    border: none;
    background-color: orange;
    font: 500 34px/22px Oxygen, sans-serif;
    padding: 10px 20px;
    border-radius: 15px;
}
.order__button-send:active
{
    scale: 0.95;
    transition: all ease 0.2s;
}


/*COUNT PIZZA*/

.pizza__count-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: max-content;
    border-radius: 8px;
    /* margin: 0 auto; */
}

.pizza__count-sub
{
    width: 10px;
    text-align: center;
    height: 20px;
    padding: 1px 5px;
    font: 400 14px/20px Oxygen, sans-serif;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    user-select: none;
}
.pizza__count-sub:hover, .pizza__count-add:hover
{
    background-color: orange;
}
.pizza__count-value
{
    width: max-content;
    text-align: center;
    /* border: 1px solid black; */
    height: 20px;
    padding: 1px 3px;
    font: 400 14px/20px Oxygen, sans-serif;
    opacity: 0.9;
    /* border-radius: 6px; */
    user-select: none;
}
.pizza__count-add
{
    width: 10px;
    text-align: center;
    /* border: 1px solid black; */
    height: 20px;
    padding: 1px 5px;
    font: 400 14px/20px Oxygen, sans-serif;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    user-select: none;
}

.history-of-orders__no-hisory
{
    margin: 0 auto;
    font: 400 24px/35px Oxygen, sans-serif;
}