.workAreaContainer
{
    flex-shrink: 0;
    flex-grow: 0;
    display: grid;
    place-items: center;
    background-color: white;
    width: calc(100vw - var(--slide-list-width));
    height: calc(100vh - var(--top-panel-height));
    overflow-x: scroll;
    overflow-y: scroll;
    border-left: solid var(--dark-gray) 1px;
    border-top: solid var(--dark-gray) 1px;
    box-sizing: border-box;
}

.workArea
{
    /* padding: 50px; */
    position: relative;
    /* background-color: burlywood; */
    max-height: 100%;
    max-width: 100%;
    border: 50px solid transparent;
}

.buttonListAction {
    width: 200px;
    height: 20px;
    background-color: aqua;
}
.buttonListAction:hover {
    opacity: 0.9;
}
.buttonListAction:active {
    opacity: 0.8;
}