:root {
    --top-panel-height: 100px;
    --slide-list-width: 200px;

    --dark-gray: #555555;
}


.header
{
    height: var(--top-panel-height);
}

.main
{
    display: flex;
    width: 100%;
    height: calc(100vh - var(--top-panel-height));
}

.footer
{
    /* height: 15px; */
}