.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--top-panel-height);
    overflow: hidden;
}

.presentationNameField {
    all: unset;
    width: 80vw;
    padding-inline: 10px;
}